n8n-workflows/feedback-prompt.json
{
  "name": "MamVibe — Feedback Prompt",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-prompt",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Feedback Prompt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "feedback-prompt"
    },
    {
      "parameters": {
        "functionCode": "const deliveries = $input.first().json.body.deliveries;\nreturn deliveries.map(d => ({ json: d }));"
      },
      "id": "split-deliveries",
      "name": "Split Deliveries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $json.buyerEmail }}",
        "subject": "How was your purchase? — {{ $json.itemTitle }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">How was your purchase? \u2b50</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Hi <strong>{{ $json.buyerName }}</strong>,</p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Your item <strong>{{ $json.itemTitle }}</strong> was delivered a couple of days ago. We'd love to hear how it went!</p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Your feedback helps other families make better decisions and rewards great sellers.</p>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.bg/feedback\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Leave Feedback</a>\n    </div>\n    <p style=\"color: #888; font-size: 14px; text-align: center;\">It only takes a minute!</p>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-buyer",
      "name": "Email Each Buyer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Feedback Prompt": {
      "main": [
        [
          {
            "node": "Split Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Deliveries": {
      "main": [
        [
          {
            "node": "Email Each Buyer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "Daily Checks" }
  ]
}
