n8n-workflows/payment-completed.json
{
  "name": "MamVibe — Payment Completed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-completed",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Payment Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "payment-completed"
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: Payment Completed').item.json.body.buyerEmail }}",
        "subject": "Payment confirmed — {{ $('Webhook: Payment Completed').item.json.body.itemTitle }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Payment Confirmed! \u2705</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Hi <strong>{{ $('Webhook: Payment Completed').item.json.body.buyerName }}</strong>,</p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Your payment has been processed successfully.</p>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 15px; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px; color: #888; border-bottom: 1px solid #f0f0f0;\">Item</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook: Payment Completed').item.json.body.itemTitle }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; color: #888; border-bottom: 1px solid #f0f0f0;\">Amount</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook: Payment Completed').item.json.body.amount }} BGN</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; color: #888;\">Payment ID</td>\n        <td style=\"padding: 10px; color: #333;\">{{ $('Webhook: Payment Completed').item.json.body.paymentId }}</td>\n      </tr>\n    </table>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">The seller will be notified and will arrange shipping shortly.</p>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-buyer",
      "name": "Email Buyer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: Payment Completed').item.json.body.sellerEmail }}",
        "subject": "You made a sale! — {{ $('Webhook: Payment Completed').item.json.body.itemTitle }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">You made a sale! \ud83c\udf89</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Hi <strong>{{ $('Webhook: Payment Completed').item.json.body.sellerName }}</strong>,</p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Great news — someone just purchased your item.</p>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 15px; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px; color: #888; border-bottom: 1px solid #f0f0f0;\">Item</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook: Payment Completed').item.json.body.itemTitle }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; color: #888; border-bottom: 1px solid #f0f0f0;\">Amount</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook: Payment Completed').item.json.body.amount }} BGN</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; color: #888;\">Buyer</td>\n        <td style=\"padding: 10px; color: #333;\">{{ $('Webhook: Payment Completed').item.json.body.buyerName }}</td>\n      </tr>\n    </table>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.bg/my-sales\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Arrange Shipping</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-seller",
      "name": "Email Seller",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 420],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Payment Completed": {
      "main": [
        [
          {
            "node": "Email Buyer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "Payments" }
  ]
}
