n8n-workflows/shipment-delivered.json
{
  "name": "MamVibe — Shipment Delivered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shipment-delivered",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Shipment Delivered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "shipment-delivered"
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: Shipment Delivered').item.json.body.buyerEmail }}",
        "subject": "Your order has been delivered! — {{ $('Webhook: Shipment Delivered').item.json.body.itemTitle }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #27ae60; margin-top: 0;\">Delivered! \u2705</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Your item <strong>{{ $('Webhook: Shipment Delivered').item.json.body.itemTitle }}</strong> has been delivered.</p>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 15px; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px; color: #888;\">Tracking Number</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600;\">{{ $('Webhook: Shipment Delivered').item.json.body.trackingNumber }}</td>\n      </tr>\n    </table>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">We hope you love it! Please take a moment to leave feedback for the seller.</p>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.bg/feedback\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Leave Feedback</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-buyer",
      "name": "Email Buyer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: Shipment Delivered').item.json.body.sellerEmail }}",
        "subject": "Your item was delivered — {{ $('Webhook: Shipment Delivered').item.json.body.itemTitle }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #27ae60; margin-top: 0;\">Item Delivered! \u2705</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Your item <strong>{{ $('Webhook: Shipment Delivered').item.json.body.itemTitle }}</strong> has been successfully delivered to the buyer.</p>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 15px; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px; color: #888;\">Tracking Number</td>\n        <td style=\"padding: 10px; color: #333; font-weight: 600;\">{{ $('Webhook: Shipment Delivered').item.json.body.trackingNumber }}</td>\n      </tr>\n    </table>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Thank you for selling on MamVibe!</p>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-seller",
      "name": "Email Seller",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 420],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Shipment Delivered": {
      "main": [
        [
          {
            "node": "Email Buyer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "Shipping" }
  ]
}
