n8n-workflows/stale-items.json
{
  "name": "MamVibe — Stale Items Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stale-items",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Stale Items",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "stale-items"
    },
    {
      "parameters": {
        "functionCode": "const items = $input.first().json.body.items;\nconst grouped = {};\nfor (const item of items) {\n  const email = item.sellerEmail;\n  if (!grouped[email]) grouped[email] = { sellerEmail: email, sellerName: item.sellerName, items: [] };\n  grouped[email].items.push(item);\n}\nreturn Object.values(grouped).map(g => ({ json: g }));"
      },
      "id": "group-by-seller",
      "name": "Group by Seller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.com",
        "toEmail": "={{ $json.sellerEmail }}",
        "subject": "Your {{ $json.items.length }} listing(s) on MamVibe need attention",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #e67e22; margin-top: 0;\">Your listings need a refresh \ud83d\udd04</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Hi <strong>{{ $json.sellerName }}</strong>,</p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">The following items have been listed for over 30 days without selling. Consider updating the price or description to attract buyers:</p>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; margin: 20px 0;\">\n      <thead>\n        <tr style=\"background: #f8f8f8;\">\n          <th style=\"padding: 10px; text-align: left; border-bottom: 2px solid #e0e0e0;\">Item</th>\n          <th style=\"padding: 10px; text-align: right; border-bottom: 2px solid #e0e0e0;\">Price</th>\n          <th style=\"padding: 10px; text-align: center; border-bottom: 2px solid #e0e0e0;\">Days</th>\n          <th style=\"padding: 10px; text-align: center; border-bottom: 2px solid #e0e0e0;\">Views</th>\n        </tr>\n      </thead>\n      <tbody>\n        {{#each $json.items}}\n        <tr>\n          <td style=\"padding: 10px; border-bottom: 1px solid #f0f0f0;\">{{ title }}</td>\n          <td style=\"padding: 10px; border-bottom: 1px solid #f0f0f0; text-align: right;\">{{ price }} BGN</td>\n          <td style=\"padding: 10px; border-bottom: 1px solid #f0f0f0; text-align: center; color: #e67e22;\">{{ daysListed }}</td>\n          <td style=\"padding: 10px; border-bottom: 1px solid #f0f0f0; text-align: center;\">{{ viewCount }}</td>\n        </tr>\n        {{/each}}\n      </tbody>\n    </table>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.com/my-items\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Update Listings</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-seller",
      "name": "Email Each Seller",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Stale Items": {
      "main": [
        [
          {
            "node": "Group by Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Seller": {
      "main": [
        [
          {
            "node": "Email Each Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "Daily Checks" }
  ]
}
