n8n-workflows/user-registered.json
{
  "name": "MamVibe — User Registered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-registered",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: User Registered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "user-registered"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-lang",
              "leftValue": "={{ $json.body.languagePreference }}",
              "rightValue": "bg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "language-switch",
      "name": "Is Bulgarian?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: User Registered').item.json.body.email }}",
        "subject": "Добре дошли в MamVibe, {{ $('Webhook: User Registered').item.json.body.displayName }}!",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Здравейте, {{ $('Webhook: User Registered').item.json.body.displayName }}! \ud83c\udf89</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">\n      Добре дошли в <strong>MamVibe</strong> — мястото, където семействата споделят и намират детски артикули.\n    </p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">\n      Вашият профил (<strong>{{ $('Webhook: User Registered').item.json.body.profileType }}</strong>) е създаден успешно.\n    </p>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.bg\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Разгледайте обявите</a>\n    </div>\n    <p style=\"color: #888; font-size: 14px;\">Ако имате въпроси, просто отговорете на този имейл.</p>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">\n    &copy; 2026 MamVibe. Всички права запазени.\n  </div>\n</div>",
        "options": {}
      },
      "id": "email-bg",
      "name": "Welcome Email (BG)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "={{ $('Webhook: User Registered').item.json.body.email }}",
        "subject": "Welcome to MamVibe, {{ $('Webhook: User Registered').item.json.body.displayName }}!",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Hi {{ $('Webhook: User Registered').item.json.body.displayName }}! \ud83c\udf89</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">\n      Welcome to <strong>MamVibe</strong> — the place where families share and find baby items.\n    </p>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">\n      Your profile (<strong>{{ $('Webhook: User Registered').item.json.body.profileType }}</strong>) has been created successfully.\n    </p>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.bg\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Browse Listings</a>\n    </div>\n    <p style=\"color: #888; font-size: 14px;\">If you have any questions, just reply to this email.</p>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">\n    &copy; 2026 MamVibe. All rights reserved.\n  </div>\n</div>",
        "options": {}
      },
      "id": "email-en",
      "name": "Welcome Email (EN)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 400],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.bg",
        "toEmail": "admin@mamvibe.bg",
        "subject": "New user registered: {{ $('Webhook: User Registered').item.json.body.displayName }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">New User Registration</h2>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 15px;\">\n      <tr>\n        <td style=\"padding: 8px 0; color: #888; width: 140px;\">Name</td>\n        <td style=\"padding: 8px 0; color: #333; font-weight: 600;\">{{ $('Webhook: User Registered').item.json.body.displayName }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #888;\">Email</td>\n        <td style=\"padding: 8px 0; color: #333;\">{{ $('Webhook: User Registered').item.json.body.email }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #888;\">Profile Type</td>\n        <td style=\"padding: 8px 0; color: #333;\">{{ $('Webhook: User Registered').item.json.body.profileType }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #888;\">Language</td>\n        <td style=\"padding: 8px 0; color: #333;\">{{ $('Webhook: User Registered').item.json.body.languagePreference }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #888;\">Registered At</td>\n        <td style=\"padding: 8px 0; color: #333;\">{{ $('Webhook: User Registered').item.json.body.timestamp }}</td>\n      </tr>\n    </table>\n  </div>\n</div>",
        "options": {}
      },
      "id": "admin-notify",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 520],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: User Registered": {
      "main": [
        [
          {
            "node": "Is Bulgarian?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bulgarian?": {
      "main": [
        [
          {
            "node": "Welcome Email (BG)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Welcome Email (EN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "MamVibe"
    },
    {
      "name": "User Events"
    }
  ]
}
