n8n-workflows/weekly-seller-report.json
{
  "name": "MamVibe — Weekly Seller Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtDay": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://mamvibe.app.n8n.cloud/webhook/weekly-seller-data",
        "responseFormat": "json",
        "options": {}
      },
      "id": "fetch-data",
      "name": "Fetch Seller Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "functionCode": "const sellers = $input.first().json.sellers || [];\nreturn sellers.map(s => ({ json: s }));"
      },
      "id": "split-sellers",
      "name": "Split by Seller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Your MamVibe Weekly Report — {{ new Date().toISOString().substring(0, 10) }}",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n    <p style=\"color: #888; margin: 5px 0 0;\">Weekly Seller Report</p>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Hi {{ $json.displayName }}!</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Here's how your listings performed this week:</p>\n    <div style=\"display: flex; flex-wrap: wrap; gap: 12px; margin: 20px 0;\">\n      <div style=\"flex: 1; min-width: 100px; background: #f8f4ff; border-radius: 10px; padding: 16px; text-align: center;\">\n        <div style=\"font-size: 28px; font-weight: 700; color: #e91e8c;\">{{ $json.totalViews }}</div>\n        <div style=\"font-size: 13px; color: #888;\">Views</div>\n      </div>\n      <div style=\"flex: 1; min-width: 100px; background: #f0fff4; border-radius: 10px; padding: 16px; text-align: center;\">\n        <div style=\"font-size: 28px; font-weight: 700; color: #27ae60;\">{{ $json.totalSales }}</div>\n        <div style=\"font-size: 13px; color: #888;\">Sales</div>\n      </div>\n      <div style=\"flex: 1; min-width: 100px; background: #fff8f0; border-radius: 10px; padding: 16px; text-align: center;\">\n        <div style=\"font-size: 28px; font-weight: 700; color: #e67e22;\">{{ $json.totalRevenue }} BGN</div>\n        <div style=\"font-size: 13px; color: #888;\">Revenue</div>\n      </div>\n      <div style=\"flex: 1; min-width: 100px; background: #f0f4ff; border-radius: 10px; padding: 16px; text-align: center;\">\n        <div style=\"font-size: 28px; font-weight: 700; color: #3498db;\">{{ $json.activeListings }}</div>\n        <div style=\"font-size: 13px; color: #888;\">Active</div>\n      </div>\n    </div>\n    <div style=\"text-align: center; margin: 24px 0;\">\n      <a href=\"https://mamvibe.com/dashboard\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">View Dashboard</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-seller",
      "name": "Email Each Seller",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 9AM": {
      "main": [
        [
          {
            "node": "Fetch Seller Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seller Stats": {
      "main": [
        [
          {
            "node": "Split by Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Seller": {
      "main": [
        [
          {
            "node": "Email Each Seller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "Scheduled" },
    { "name": "Sellers" }
  ]
}
