n8n-workflows/welcome-series-day3.json
{
  "name": "MamVibe — Welcome Series (Day 3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-registered",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: User Registered",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "welcome-series-trigger"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-3-days",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-lang",
              "leftValue": "={{ $('Webhook: User Registered').item.json.body.languagePreference }}",
              "rightValue": "bg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "language-switch",
      "name": "Is Bulgarian?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.com",
        "toEmail": "={{ $('Webhook: User Registered').item.json.body.email }}",
        "subject": "Готови ли сте да създадете първата си обява?",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Здравейте, {{ $('Webhook: User Registered').item.json.body.displayName }}!</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">Регистрирахте се преди няколко дни и искахме да ви напомним за възможностите в MamVibe:</p>\n    <div style=\"margin: 24px 0;\">\n      <div style=\"display: flex; align-items: flex-start; gap: 12px; margin-bottom: 16px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">1</div>\n        <div><strong style=\"color: #333;\">Създайте обява</strong><br><span style=\"color: #666; font-size: 14px;\">Качете снимки и описание на бебешки вещи</span></div>\n      </div>\n      <div style=\"display: flex; align-items: flex-start; gap: 12px; margin-bottom: 16px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">2</div>\n        <div><strong style=\"color: #333;\">Разгледайте обяви</strong><br><span style=\"color: #666; font-size: 14px;\">Намерете страхотни предложения от други семейства</span></div>\n      </div>\n      <div style=\"display: flex; align-items: flex-start; gap: 12px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">3</div>\n        <div><strong style=\"color: #333;\">Чатете директно</strong><br><span style=\"color: #666; font-size: 14px;\">Свържете се с продавачи в реално време</span></div>\n      </div>\n    </div>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.com/create\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Създай първата обява</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. Всички права запазени.</div>\n</div>",
        "options": {}
      },
      "id": "email-bg",
      "name": "Day 3 Email (BG)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mamvibe.com",
        "toEmail": "={{ $('Webhook: User Registered').item.json.body.email }}",
        "subject": "Ready to create your first listing?",
        "emailType": "html",
        "html": "<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; padding: 20px 0;\">\n    <h1 style=\"color: #e91e8c; margin: 0;\">MamVibe</h1>\n  </div>\n  <div style=\"background: #fff; border-radius: 12px; padding: 30px; border: 1px solid #f0f0f0;\">\n    <h2 style=\"color: #333; margin-top: 0;\">Hi {{ $('Webhook: User Registered').item.json.body.displayName }}!</h2>\n    <p style=\"color: #555; font-size: 16px; line-height: 1.6;\">You signed up a few days ago and we wanted to remind you of everything you can do on MamVibe:</p>\n    <div style=\"margin: 24px 0;\">\n      <div style=\"display: flex; align-items: flex-start; gap: 12px; margin-bottom: 16px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">1</div>\n        <div><strong style=\"color: #333;\">Create a listing</strong><br><span style=\"color: #666; font-size: 14px;\">Upload photos and describe baby items you want to share</span></div>\n      </div>\n      <div style=\"display: flex; align-items: flex-start; gap: 12px; margin-bottom: 16px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">2</div>\n        <div><strong style=\"color: #333;\">Browse items</strong><br><span style=\"color: #666; font-size: 14px;\">Find great deals from other families</span></div>\n      </div>\n      <div style=\"display: flex; align-items: flex-start; gap: 12px;\">\n        <div style=\"background: #e91e8c; color: white; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center; font-weight: 700; flex-shrink: 0;\">3</div>\n        <div><strong style=\"color: #333;\">Chat directly</strong><br><span style=\"color: #666; font-size: 14px;\">Connect with sellers in real-time</span></div>\n      </div>\n    </div>\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://mamvibe.com/create\" style=\"background: #e91e8c; color: white; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: 600;\">Create Your First Listing</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; padding: 20px 0; color: #aaa; font-size: 12px;\">&copy; 2026 MamVibe. All rights reserved.</div>\n</div>",
        "options": {}
      },
      "id": "email-en",
      "name": "Day 3 Email (EN)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [940, 420],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "MamVibe SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook: User Registered": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Is Bulgarian?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bulgarian?": {
      "main": [
        [
          {
            "node": "Day 3 Email (BG)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 3 Email (EN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "MamVibe" },
    { "name": "User Events" },
    { "name": "Onboarding" }
  ]
}
